/target
/vendor/
/instance-src
/src/vendor
/.idea
/.buildpath
/.project
/.settings
/.pydevproject
composer.lock
build.properties
jmeter.log
.DS_Store
/.env
docker-compose.yml

platforms/

.sass-cache
*.DS_Store
*.log

.bash_history
.config/
.dbus/
.local/
.pki/
